<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/tab-links.css">
    <link rel="icon" href="{{ url_for('static', filename='images/Logo.png') }}">
    <title>ClinicBase - Administrator</title>
</head>
<body>
    <header>
        <h1>ClinicBase</h1>
        <div id="api-status"></div>
        <nav class="logout">
            <ul>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="employee-bar">
	    <div id="responseContainer">
	        <!-- CRUD Success Message -->
            </div>
            <div>
                <h4>Patient Count     <button id="patientCountBtn">Count Patients</button></h4>
                <h6 id="patientCount">Number: </h6> 
                
            </div>
            <div>
                <form>
                    <br>
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="start_Sdate" required><br><br>                                    
                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="end_date" required><br><br>
                                
                    
                </form>

            </div>

            <div>
                <h4>Case Count     <button id="caseCountBtn">Count Cases</button></h4>
                <h6 id="caseCount"> Number: </h6>                
            </div>

        </div>

        <main>
            <section class="patient-status">
                <div>
                    <h4>Employee Section</h4>
                    <form id="searchEmployeeForm">
                        <label for="searchFilter">Search By:</label>
                        <select id="searchFilter" name="searchFilter" required>
                            <option value="name">Name</option>                            
                            <option value="email">Email</option>
                        </select><br><br>
                        <label for="searchText">Search Employee:</label><br>
                        <input type="text" id="searchText" name="searchText" placeholder="Enter search query"
                            required><br><br>
                        
                        <button type="submit">Search</button>
                    </form>
                    <h4>Search Results</h4>
		    <ul id="emp-radio-button-list">
                        <!-- Empployee search will be added dynamically -->
                    </ul>
                    <button id="deleteEmployeeButton">Delete Employee</button>
                </div>
            </section>
            <section class="patient-info">
                <div class="patient-detail">

                </div>
                <div class="patient-history">

                    <div class="employee-tab">
                        <button class="tablinks" onclick="openTab(event, 'Add New Employee')" id="defaultOpen">Add New
                            Employee</button>
                        <button class="tablinks" onclick="openTab(event,'Update Employee Info')">Update Employee
                            Info</button>
                       
                    </div>
                    <div class="nav-content">
                        <form id="createEmployeeForm">
                            <div id="Add New Employee" class="tabcontent">
                                <h3>Add New Employee</h3>
                                <form id="createEmployeeForm">
                                    <label for="name">Name:</label>
                                    <input type="text" id="name" name="name" required><br><br>                                    
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="email" required><br><br>
                                    <label for="psword">Password:</label>
                                    <input type="password" id="psword" name="password" required><br><br>                                
                                    
                                    <label for="role">Role:</label>
                                    <select name="role" id="role">
                                        <option value="optometrist">optometrist</option>
                                        <option value="receptionist">receptionist</option>
                                    </select><br><br>                                    
                                    <label for="licenseNumber">License Number:</label>
                                    <input type="text" id="licenseNumber" name="license"><br><br>
                                    
                                    <input type="submit" id="createEmployeeButton" value="Save Patient">
                                </form>
                            </div>
                            <div id="Update Employee Info" class="tabcontent">
                                <h3>Update Employee Info</h3>
                                <form id="updateEmployeeForm">                           
                                                                     
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="email" required><br><br>                                   
                                    <label for="psword">Password:</label>
                                    <input type="password" id="psword" name="password" required><br><br>
                                    <input type="submit" id="updateEmployeeButton" value="Save Patient">
                                </form>
                            </div>
                            

                        </form>

                    </div>

            </section>

            <section class="save-patient">
                <div>
                    <h4>Patient Section</h4>
                    <form id="searchPatientForm">
                        <label for="searchText">Search Patient:</label><br>
                        <input type="text" id="searchText" name="searchText" placeholder="Enter search query"
                            required><br><br>
                        <label for="search_object">Search Patient By:</label><br>
                        <select id="searchFilter" name="searchFilter" required>
                            <option value="firstname">First Name</option>
                            <option value="surname">Surname</option>
                            <option value="insurance">Insurance</option>
                        </select>
                        <button type="submit">Search</button>
                    </form>
                    <h3>Search Results</h3>
		    <ul id="radio-button-list">
                        <!-- Empployee search will be added dynamically -->
                    </ul>
                </div>
                <button>View Patient Records</button>
                
            </section>
        </main>
        
    </div>
    <footer>
        <p>Copyright &copy; <script>document.write(newDate().getFullYear())</script>clinicbase</p>
    </footer>
    <script src="{{ url_for('static', filename='scripts/role.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>
</html>
