<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/tab-links.css">
    <!-- <link rel="stylesheet" href="styles/common-footer.css">     -->
    <title>ClinicBase</title>
</head>

<body>
    <div class="container">
        <header>
            <div>
                <h3>Administrator</h3>
            </div>
            <div>
                <h3>Logout</h3>
            </div>

        </header>
        <main>
            <section class="patient-status">
                <div class="unattended">
                    <h3>Unattended Requests</h3>
                </div>
                <div class="attended">
                    <h3>Unattended Requests</h3>
                </div>
            </section>
            <section class="patient-info">
                <div class="patient-detail">
                    <!-- <div>
                        <h5>Patient Details</h5>
                    </div> -->
                    <!-- <div class="blank-detail">
                        <div>
                            <h6>name</h6>
                            <h6>DOB</h6>
                            <h6>Gender</h6>
                        </div>
                        <div>
                            <h6>Address</h6>
                            <h6>Contact</h6>
                            <h6>Occupation</h6>
                        </div>


                    </div> -->


                </div>
                <div class="patient-history">

                    <div class="employee-tab">
                        <button class="tablinks" onclick="openTab(event, 'Add New Employee')" id="defaultOpen">Add New
                            Employee</button>
                        <button class="tablinks" onclick="openTab(event,'Update Employee Info')">Update Employee
                            Info</button>
                        <button class="tablinks" onclick="openTab(event,'View Employee Info')">View Employee Info</button>
                        <button class="tablinks" onclick="openTab(event,'Search Employee Info')">Search Employee
                            Info</button>
                    </div>
                    <div class="nav-content">
                        <form action="">
                            <div id="Add New Employee" class="tabcontent">
                                <h3>Add New Employee</h3>
                                <p>Add New Employee here</p>
                            </div>
                            <div id="Update Employee Info" class="tabcontent">
                                <h3>Update Employee Info</h3>
                                <p>Update Employee Info here</p>
                            </div>
                            <div id="View Employee Info" class="tabcontent">
                                <h3>View Employee Info</h3>
                                <p>View Employee Info here</p>
                            </div>
                            <div id="Search Employee Info" class="tabcontent">
                                <h3>Search Employee Info</h3>
                                <p>Search Employee Info here</p>
                            </div>

                        </form>

                    </div>

            </section>
            <section class="save-patient">
                <button>View Patient Records</button>
                <button>Print Patient Info</button>
                <button>Delete Employee</button>
                <button>Message Employee</button>
                
            </section>
        </main>
        <footer>
            <!-- footer goes here-->
            footer wai
        </footer>
        <script src="scripts/opto.js"></script>
    </div>
</body>

</html>
