<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/Logo.png') }}">
    <title>ClinicBase</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">ClinicBase</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">
        <section class="patient-status col-4">
            <h3>Search Employee Info</h3>
            <form method="POST" action="/search">
                <div class="form-group">
                    <label for="search_object">Search By:</label>
                    <select name="search_object" id="search_object" class="form-control">
                        <option value="fname">First Name</option>
                        <option value="sname">Surname</option>
                        <option value="email">Email</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="search_query">Search Employee:</label>
                    <input type="text" name="search_query" id="search_query" class="form-control" placeholder="Enter search query" required>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <h3>Search Results</h3>
            <p>Search results go here</p>
        </section>

        <section class="patient-info col-8">
            <div class="patient-detail">
                <!-- Employee details here -->
            </div>
            <div class="patient-history">
                <div class="employee-tab">
                    <button class="tablinks active" onclick="openTab(event, 'Add New Employee')" id="defaultOpen">Add New Employee</button>
                    <button class="tablinks" onclick="openTab(event,'Update Employee Info')">Update Employee Info</button>
                    <button class="tablinks" onclick="openTab(event,'View Employee Info')">View Employee Info</button>
                    <button class="tablinks" onclick="openTab(event,'Delete Employee Info')">Delete Employee Info</button>
                </div>
                <div class="nav-content">
                    <form action="">
                        <div id="Add New Employee" class="tabcontent">
                            <h3>Add New Employee</h3>
                            <form action="">
                                <div class="form-group">
                                    <label for="fname">First name:</label>
                                    <input type="text" id="fname" name="fname" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="sname">Surname:</label>
                                    <input type="text" id="sname" name "sname" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="email" class="form-control" required>
                                </div>
                                <!-- Other input fields go here -->
                                <button type="submit" class="btn btn-primary">Save Employee</button>
                            </form>
                        </div>
                        <!-- Other tab content sections go here -->
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer class="container mt-3">
        <p class="text-center">Copyright &copy; <script>document.write(new Date().getFullYear())</script> ClinicBase</p>
    </footer>

    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
</body>
</html>
