<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css links go here-->
    <link rel="stylesheet" href="/dashboards/static/styles/base.css">
    <title>base html</title>
</head>
<body>
    <header>
        <h1>ClinicBase</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#Login">Login</a></li>
                <li><a href="#Contact">Contact</a></li>
                <li><a href="#About">About</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <p>Copyright &copy; <script>document.write(newDate().getFullYear())</script>clinicbase</p>
    </footer>
</body>
</html>