<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/Logo.png') }}">
    <title>ClinicBase</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">ClinicBase</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.contact') }}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Access Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <img src="https://i.imgur.com/NPeiv8x.jpg" alt="female_optometrist" class="img-fluid" width="500px" height="600px">
            </div>
            <div class="col-md-6">
                <div class="justify-content">
                    <h3 class="mt-4">Welcome to ClinicBase DBMS</h3>
                    <p class="lead">ClinicBase is a cutting-edge medical and health web application tailored to meet the specific needs of clinical settings. Our goal is to streamline daily operations, enhance patient record management, and improve medical data retrieval for healthcare professionals in Ghana.</p>
                    <p>We're tackling a significant challenge. Our project aims to develop an integrated Database Management System for eye clinics, ENT clinics, and dental clinics across Ghana. This will address fragmented data management, streamline workflows, improve data accuracy, enhance data security and privacy, enable data analytics, and ensure scalability, ultimately optimizing patient care and clinical operations in the country.</p>
                    <p>While our focus is on optimizing internal clinical workflows and data management, we're not providing patient dashboards or appointment booking capabilities through the web application. Our primary aim is to empower healthcare providers and patients in Ghana by improving clinical workflows, data accuracy, and patient care while ensuring the highest standards of data security and privacy.</p>
                    <p class="mb-4">Join us on this journey to revolutionize healthcare in Ghana. Contact us to learn more about ClinicBase and how it can benefit your clinic.</p>
                    <a href="{{ url_for('main.contact') }}" class="btn btn-primary">CONTACT US</a>
                </div>
            </div>
        </div>
    </main>

    <footer class="mt-3 ml-3">
        <p style="padding-left: 20px;">Copyright &copy; <script>document.write(new Date().getFullYear())</script> clinicbase</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>

