<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css links go here-->
    <link rel="stylesheet" href="/dashboards/static/styles/base.css">
    <link rel="stylesheet" href="/dashboards/static/styles/login.css">
    <title>ClinicBase - Login</title>
</head>
<body>
    <header>
        <h1>ClinicBase</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#Login">Login</a></li>
                <li><a href="#Contact">Contact</a></li>
                <li><a href="#About">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- main content goes here  -->
        <div class="loginbox">
            <h1>Login Here</h1>
            <form action="">
              <p>Username</p>
              <input type="text" name="" placeholder="Enter Username" required>
              <p>Password</p>
              <input type="password" name="" placeholder="Enter Password" required>
              <input type="submit" name="" value="Login">
              <a href="#">Lost your password?</a><br>
              <a href="#contact">Don't have an account?</a>
            </form>
        </div>
    </main>
    <footer>
        <p>Copyright &copy; <script>document.write(newDate().getFullYear())</script>clinicbase</p>
    </footer>
</body>
</html>