<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/new.css">
    <!-- <link rel="stylesheet" href="styles/common-footer.css">     -->
    <title>ClinicBase</title>
</head>

<body>
    <div class="container">
        <header>
            <div>
                <h3>employee name</h3>
            </div>
            <div>
                <h3>Logout</h3>
            </div>

        </header>
        <main>
            <section class="patient-status">
                <div class="unattended">
                    unattended patients
                </div>
                <div class="attended">
                    attended patients
                </div>
            </section>
            <section class="patient-info">
                <div class="info-a">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, sed.
                </div>
                <div class="info-b">
                    <div class="tabs">
                        <nav>
                            <h4>History</h4>
                            <h4>Examnination</h4>
                            <h4>Tests</h4>
                            <h4>Diagnosis</h4>
                            <h4>Medication</h4>
                            <h4>Lens prescription</h4>
                        </nav>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis amet unde commodi voluptates
                            obcaecati reprehenderit?</p>
                    </div>
                    <div class="forms">

                    </div>
                </div>
            </section>
            <section class="save-patient">
                <h4>section C</h4>
            </section>
        </main>
        <footer>
            <!-- footer goes here-->
            footer wai
        </footer>
    </div>
    <script src="scripts/opto.js"></script>
</body>

</html>
