<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/tab-links.css">
    <title>ClinicBase - Optometrist</title>
</head>
<body>
    <header>
        <h1>ClinicBase</h1>
        <div id="api-status"></div>
        
        <nav class="logout">
            <ul>
                <li><a href="#Logout">Logout </a></li>
                
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="employee-bar">
            <div>
                <h3>Optometrist name: </h3>
                
            </div>
            <div>
                <h3>Optometrist id: </h3>
            </div>

        </div>
        <main>
            <section class="patient-status">
                <div class="unattended">
                    <button>Refresh</button>
                    <h3>Unattended Patients</h3>
                    
                </div>
                
                
            </section>
            <section class="patient-info">
                <div class="patient-detail">
                    <div>
                        <h5>Patient Details</h5>
                    </div>
                    <div class="blank-detail">


                        <div>
                            <h5>name</h5>
                            <h5>Dob</h5>
                            <h5>Occupation</h5>
                                                                            
                            
                        </div>
                                               
                        
                    </div>
                    
                    
                </div>
                <div class="patient-history">
                    
                        <div class="employee-tab">
                            <button class="tablinks" onclick="openTab(event, 'History')"
                                id="defaultOpen">History</button>
                            <button class="tablinks" onclick="openTab(event,'Examination')">Examination</button>
                            <button class="tablinks" onclick="openTab(event,'Tests')">Tests</button>
                            <button class="tablinks" onclick="openTab(event,'Diagnosis')">Diagnosis</button>
                            <button class="tablinks" onclick="openTab(event,'Medication')">Medication</button>
                            <button class="tablinks" onclick="openTab(event,'Lens Prescription')">Lens
                                Prescription</button>
                        </div>
                        <div class="nav-content">
                            <form action="">
                                <div id="History" class="tabcontent">
                                    <h3>History</h3>
                                    <label for="p-ocular-hx">POHx:</label>
                                    <textarea id="p-ocular-hx" name="p-ocular-hx" ></textarea><br><br>
                                    <label for="p-medical-hx">PMHx:</label>
                                    <textarea id="p-medical-hx" name="p-medical-hx" ></textarea><br><br>
                                    <label for="f-ocular-hx">FOHx:</label>
                                    <textarea id="f-ocular-hx" name="f-ocular-hx" ></textarea><br><br>
                                    <label for="f-medical-hx">FMHx:</label>
                                    <textarea id="f-medical-hx" name="f-medical-hx" ></textarea><br><br>
                                </div>
                                <div id="Examination" class="tabcontent">
                                    <h3>Examination</h3>
                                    <label for="visual-acuity">Visual Acuity:</label>
                                    <textarea id="visual-acuity" name="visual-acuity" ></textarea><br><br>
                                    <label for="ocular-exam">Ocular Examination:</label>
                                    <textarea id="ocular-exam" name="ocular-exam" ></textarea><br><br>
                                    <label for="chief-complaint">Chief Complaint:</label>
                                    <textarea id="chief-complaint" name="chief-complaint" ></textarea><br><br>
                                    <label for="on-direct-questions">On Direct Questions:</label>
                                    <textarea id="on-direct-questions" name="on-direct-questions"></textarea><br><br>
                                    <label for="iop">Intraocular Pressure (IOP):</label>
                                    <textarea id="iop" name="iop" ></textarea><br><br>
                                    <label for="blood-pressure">Blood Pressure:</label>
                                    <textarea id="blood-pressure" name="blood-pressure" ></textarea><br><br>
                                    <label for="blood-sugar">Blood Pressure:</label>
                                    <textarea id="blood-sugar" name="blood-sugar" ></textarea><br><br>
                                </div>
                                <div id="Tests" class="tabcontent">
                                    <h3>Tests</h3>
                                    <label for="retinoscopy">Retinoscopy:</label>
                                    <textarea id="retinoscopy" name="retinoscopy" ></textarea><br><br>
                                    <label for="autorefraction">Autorefraction:</label>
                                    <textarea id="autorefraction" name="autorefraction" ></textarea><br><br>
                                    <label for="subjective_refraction">Subjective Refraction:</label>
                                    <textarea id="subj-refraction" name="subj-refraction" ></textarea><br><br>
                                    <label for="other_tests">Other Tests:</label>
                                    <textarea id="other-test" name="other-test" ></textarea><br><br>
                                </div>
                                <div id="Diagnosis" class="tabcontent">
                                    <h3>Diagnosis</h3>
                                    <label for="principal-diagnosis">Principal Diagnosis:</label>
                                    <textarea id="principal-diagnosis" name="principal_diagnosis" ></textarea><br><br>
                                    <label for="other-diagnosis-1">Other Diagnosis 1:</label>
                                    <textarea id="other-diagnosis-1" name="other-diagnosis-1"></textarea><br><br>
                                    <label for="other_diagnosis_2">Other Diagnosis 2:</label>
                                    <textarea id="other-diagnosis-2" name="other-diagnosis-2"></textarea><br><br>
                                </div>
                                <div id="Medication" class="tabcontent">
                                    <h3>Medication</h3>
                                    <label for="drug">Prescribed Medication:</label>
                                    <textarea id="drug" name="drug" ></textarea>
                                </div>
                                <div id="Lens Prescription" class="tabcontent">
                                    <h3>Lens Prescription</h3>
                                    <label for="lens_rx">Lens Prescription:</label>
                                    <textarea id="lens_rx" name="lens_rx" ></textarea>
                            </form>
                            
                        </div>
                        
            </section>
            <section class="save-patient">
                <button> + New Case</button><br><br><br>
                <button>View Previous Case</button><br><br><br>
                <button>Save</button><br><br><br>
                <button>Submit</button>
            </section>
        </main>
    </div>
    <footer>
        <p>Copyright &copy; <script>document.write(newDate().getFullYear())</script>clinicbase</p>
    </footer>
    <script src="../static/scripts/main.js"></script>
</body>
</html>
