<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/tab-links.css">
    <!-- <link rel="stylesheet" href="styles/common-footer.css">     -->
    <title>ClinicBase</title>
</head>

<body>
    <div class="container">
        <header>
            <div>
                <h3>Doc Afreh</h3>
            </div>
            <div>
		<h3><a href="logout">Logout</a></h3>
            </div>

        </header>
        <main>
            <section class="patient-status">
                <div class="unattended">
                    <h3>Unattended Patients</h3>
                </div>
                <div class="attended">
                    <h3>Unattended Patients</h3>
                </div>
                <div>
                    <h3>Search Patient Info</h3>
                    <form method="POST" action="/search">
                        <label for="search_query">Search Patient:</label>
                        <input type="text" name="search_query" id="search_query" placeholder="Enter search query"
                            required>
                        <label for="search_object">Search Patient By:</label>
                        <select name="search_object" id="search_object">
                            <option value="fname">First Name</option>
                            <option value="sname">SurName</option>
                            <option value="date">Date</option>
                            <option value="diagnosis">Diagnosis</option>

                        </select>
                        <button type="submit">Search</button>
                    </form>
                    <h3>Search Results</h3>
                    <p> search results goes here</p>
                </div>
            </section>
            <section class="patient-info">
                <div class="patient-detail">
                    <div>
                        <h5>Patient Details</h5>
                    </div>
                    <div class="blank-detail">
                        <div>
                            <h6>name</h6>
                            <h6>DOB</h6>
                            <h6>Gender</h6>
                        </div>
                        <div>
                            <h6>Address</h6>
                            <h6>Contact</h6>
                            <h6>Occupation</h6>
                        </div>
                        
                        
                    </div>
                    
                    
                </div>
                <div class="patient-history">
                    
                        <div class="employee-tab">
                            <button class="tablinks" onclick="openTab(event, 'History')"
                                id="defaultOpen">History</button>
                            <button class="tablinks" onclick="openTab(event,'Examination')">Examination</button>
                            <button class="tablinks" onclick="openTab(event,'Tests')">Tests</button>
                            <button class="tablinks" onclick="openTab(event,'Diagnosis')">Diagnosis</button>
                            <button class="tablinks" onclick="openTab(event,'Medication')">Medication</button>
                            <button class="tablinks" onclick="openTab(event,'Lens Prescription')">Lens
                                Prescription</button>
                        </div>
                        <div class="nav-content">
                            <form action="">
                                <div id="History" class="tabcontent">
                                    <h3>History</h3>
                                    <label for="p-ocular-hx">POHx:</label>
                                    <textarea id="p-ocular-hx" name="p-ocular-hx" required></textarea><br><br>
                                    <label for="p-medical-hx">PMHx:</label>
                                    <textarea id="p-medical-hx" name="p-medical-hx" required></textarea><br><br>
                                    <label for="f-ocular-hx">FOHx:</label>
                                    <textarea id="f-ocular-hx" name="f-ocular-hx" required></textarea><br><br>
                                    <label for="f-medical-hx">FMHx:</label>
                                    <textarea id="f-medical-hx" name="f-medical-hx" required></textarea><br><br>
                                </div>
                                <div id="Examination" class="tabcontent">
                                    <h3>Examination</h3>
                                    <label for="visual-acuity">Visual Acuity:</label>
                                    <textarea id="visual-acuity" name="visual-acuity" required></textarea><br><br>
                                    <label for="ocular-exam">Ocular Examination:</label>
                                    <textarea id="ocular-exam" name="ocular-exam" required></textarea><br><br>
                                    <label for="chief-complaint">Chief Complaint:</label>
                                    <textarea id="chief-complaint" name="chief-complaint" required></textarea><br><br>
                                    <label for="on-direct-questions">On Direct Questions:</label>
                                    <textarea id="on-direct-questions" name="on-direct-questions"></textarea><br><br>
                                    <label for="iop">Intraocular Pressure (IOP):</label>
                                    <textarea id="iop" name="iop" required></textarea><br><br>
                                    <label for="blood-pressure">Blood Pressure:</label>
                                    <textarea id="blood-pressure" name="blood-pressure" required></textarea><br><br>
                                    <label for="blood-sugar">Blood Pressure:</label>
                                    <textarea id="blood-sugar" name="blood-sugar" required></textarea><br><br>
                                </div>
                                <div id="Tests" class="tabcontent">
                                    <h3>Tests</h3>
                                    <label for="retinoscopy">Retinoscopy:</label>
                                    <textarea id="retinoscopy" name="retinoscopy" required></textarea><br><br>
                                    <label for="autorefraction">Autorefraction:</label>
                                    <textarea id="autorefraction" name="autorefraction" required></textarea><br><br>
                                    <label for="subjective_refraction">Subjective Refraction:</label>
                                    <textarea id="subj-refraction" name="subj-refraction" required></textarea><br><br>
                                    <label for="other_tests">Other Tests:</label>
                                    <textarea id="other-test" name="other-test" required></textarea><br><br>
                                </div>
                                <div id="Diagnosis" class="tabcontent">
                                    <h3>Diagnosis</h3>
                                    <label for="principal-diagnosis">Principal Diagnosis:</label>
                                    <textarea id="principal-diagnosis" name="principal_diagnosis" required></textarea><br><br>
                                    <label for="other-diagnosis-1">Other Diagnosis 1:</label>
                                    <textarea id="other-diagnosis-1" name="other-diagnosis-1"></textarea><br><br>
                                    <label for="other_diagnosis_2">Other Diagnosis 2:</label>
                                    <textarea id="other-diagnosis-2" name="other-diagnosis-2"></textarea><br><br>
                                </div>
                                <div id="Medication" class="tabcontent">
                                    <h3>Medication</h3>
                                    <label for="drug">Prescribed Medication:</label>
                                    <textarea id="drug" name="drug" required></textarea>
                                </div>
                                <div id="Lens Prescription" class="tabcontent">
                                    <h3>Lens Prescription</h3>
                                    <label for="lens_rx">Lens Prescription:</label>
                                    <textarea id="lens_rx" name="lens_rx" required></textarea>
                            </form>
                            
                        </div>
                        
            </section>
            <section class="save-patient">
                <button> + New Case</button>
                <button>View Previous Case</button>
                <button>Referal note</button>
                <button>Request Lab</button>
                <button>Save</button>
                <button>Done</button>
            </section>
        </main>
        <footer>
            <!-- footer goes here-->
            footer wai
        </footer>
        <script src="../static/scripts/main.js"></script>
    </div>
</body>

</html>
