<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/tab-links.css">
    <!-- <link rel="stylesheet" href="styles/common-footer.css">     -->
    <title>ClinicBase</title>
</head>

<body>
    <div class="container">
        <header>
            <div>
                <h3>Doc Afreh</h3>
            </div>
            <div>
                <a href="/logout">Logout</a>
            </div>

        </header>
        <main>
            <section class="patient-status">
                <div class="unattended">
                    <h3>Unattended Patients</h3>
                </div>
                <div class="attended">
                    <h3>Unattended Patients</h3>
                </div>
            </section>
            <section class="patient-info">
                <div class="patient-detail">
                    <div>
                        <h5>Patient Details</h5>
                    </div>
                    <div class="blank-detail">
                        <div>
                            <h6>name</h6>
                            <h6>DOB</h6>
                            <h6>Gender</h6>
                        </div>
                        <div>
                            <h6>Address</h6>
                            <h6>Contact</h6>
                            <h6>Occupation</h6>
                        </div>
                        
                        
                    </div>
                    
                    
                </div>
                <div class="patient-history">
                    
                        <div class="employee-tab">
                            <button class="tablinks" onclick="openTab(event, 'History')"
                                id="defaultOpen">History</button>
                            <button class="tablinks" onclick="openTab(event,'Examination')">Examination</button>
                            <button class="tablinks" onclick="openTab(event,'Tests')">Tests</button>
                            <button class="tablinks" onclick="openTab(event,'Diagnosis')">Diagnosis</button>
                            <button class="tablinks" onclick="openTab(event,'Medication')">Medication</button>
                            <button class="tablinks" onclick="openTab(event,'Lens Prescription')">Lens
                                Prescription</button>
                        </div>
                        <div class="nav-content">
                            <form action="">
                                <div id="History" class="tabcontent">
                                    <h3>History</h3>
                                    <p>Type patient history here</p>
                                </div>
                                <div id="Examination" class="tabcontent">
                                    <h3>Examination</h3>
                                    <p>Type patient Examination results here</p>
                                </div>
                                <div id="Tests" class="tabcontent">
                                    <h3>Tests</h3>
                                    <p>Type patient tests results here</p>
                                </div>
                                <div id="Diagnosis" class="tabcontent">
                                    <h3>Diagnosis</h3>
                                    <p>Type patient diagnosis here</p>
                                </div>
                                <div id="Medication" class="tabcontent">
                                    <h3>Medication</h3>
                                    <p>Type patient Medication here</p>
                                </div>
                                <div id="Lens Prescription" class="tabcontent">
                                    <h3>Lens Prescription</h3>
                                    <p>Type patient lens Prescription here</p>
                                </div>
                            </form>
                            
                        </div>
                        
            </section>
            <section class="save-patient">
                <button> + New Case</button>
                <button>View Previous Case</button>
                <button>Referal note</button>
                <button>Request Lab</button>
                <button>Save</button>
                <button>Send</button>
            </section>
        </main>
        <footer>
            <!-- footer goes here-->
            footer wai
        </footer>
        <script src="scripts/opto.js"></script>
    </div>
</body>

</html>
