<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/tab-links.css">
    <title>ClinicBase - Receptionist</title>
</head>
<body>
    <header>
        <h1>ClinicBase</h1>
        <div id="api-status"></div>
        <nav class="logout">
            <ul>
                <li><a href="#Logout">Logout</a></li>
                
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="employee-bar">
            <div>
                <h3>Reception name</h3>
            </div>
            

        </div>
        <main>
            <section class="patient-status">
                <div>
                    <h3>Search Employee Info</h3>
                    <form method="POST" action="/search">
                        <label for="search_query">Search Patient:</label><br>
                        <input type="text" name="search_query" id="search_query" placeholder="Enter search query"
                            required><br><br>
                        <label for="search_object">Search Patient By:</label><br>
                        <select name="search_object" id="search_object">
                            <option value="fname">First Name</option>
                            <option value="sname">SurName</option>
                            <option value="date">Insurance</option>

                        </select>
                        <button type="submit">Search</button>
                    </form>
                    <h3>Search Results</h3>
                    <p> search results goes here</p>
                    <button>Send to Doctor</button>
                    <button>Delete Patient</button>

                    
                </div>
            </section>
            <section class="patient-info">
                <div class="patient-detail">
                    <div>
                        <h5>Patient Details</h5>
                    </div>
                    <div class="blank-detail">
                        <div>
                            <h5>name</h5>
                            <h5>Dob</h5>
                            <h5>Occupation</h5>
                            <h5>Contact</h5>                                                                           
                            
                        </div>


                    </div>


                </div>
                <div class="patient-history">

                    <div class="employee-tab">
                        <button class="tablinks" onclick="openTab(event, 'Add New Patient')" id="defaultOpen">Add New
                            Patient</button>
                        <button class="tablinks" onclick="openTab(event,'Update Patient Info')">Update Patient
                            Info</button>
                        
                    </div>
                    <div class="nav-content">
                        <form action="">
                            <div id="Add New Patient" class="tabcontent">
                                <h3>Add New Patient</h3>
                                <form action="">
                                    <label for="fname">First name:</label>
                                    <input type="text" id="fname" name="firstname" required><br><br>
                                    <label for="sname">Surname:</label>
                                    <input type="text" id="sname" name="surname" required><br><br>
                                    <label for="DOB">Date of Birth:</label>
                                    <input type="text" id="DOB" name="dob" required><br><br>
                                    
                                    <label for="phone">Phone Number:</label>
                                    <input type="tel" id="phone" name="tel" required><br><br>
                                    <label for="Occu">Occupation:</label>
                                    <input type="text" id="occu" name="occupation" required><br><br>
                                    <label for="insur">Insurance:</label>
                                    <input type="text" id="insur" name="insurance"><br><br>
                                    <input type="submit" value="Save Patient">
                                  </form>
                            </div>
                            <div id="Update Patient Info" class="tabcontent">
                                <h3>Update Patient Info</h3>
                                <form action="">
                                    <label for="phone">Phone Number</label>
                                    <input type="tel" id="phone" name="tel"><br><br>
                                    <label for="insur">Insurance:</label>
                                    <input type="text" id="insur" name="insurance"><br><br>
                                    <input type="submit" value="Update Patient">

                                </form>
                            </div>
                            

                        </form>

                    </div>

            </section>
            <section class="save-patient">                
                <h3>Attended Patients   <button>Refresh</button></h3><br>
                <p>attended patients dey here wai</p><br>
                
                
            </section>
        </main>
    </div>
    <footer>
        <p>Copyright &copy; <script>document.write(newDate().getFullYear())</script>clinicbase</p>
    </footer>
    <script src="../static/scripts/main.js"></script>
</body>
</html>
