<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/new.css">
    <link rel="stylesheet" href="styles/tab-links.css">
    <!-- <link rel="stylesheet" href="styles/common-footer.css">     -->
    <title>ClinicBase</title>
</head>

<body>
    <div class="container">
        <header>
            <div>
                <h3>Reception name</h3>
            </div>
            <div>
                <h3>Logout</h3>
            </div>

        </header>
        <main>
            <section class="patient-status">
                <div class="unattended">
                    <h3>Unattended Patients</h3>
                </div>
                <div class="attended">
                    <h3>Unattended Patients</h3>
                </div>
            </section>
            <section class="patient-info">
                <div class="patient-detail">
                    <div>
                        <h5>Patient Details</h5>
                    </div>
                    <div class="blank-detail">
                        <div>
                            <h6>name</h6>
                            <h6>DOB</h6>
                            <h6>Gender</h6>
                        </div>
                        <div>
                            <h6>Address</h6>
                            <h6>Contact</h6>
                            <h6>Occupation</h6>
                        </div>


                    </div>


                </div>
                <div class="patient-history">

                    <div class="employee-tab">
                        <button class="tablinks" onclick="openTab(event, 'Add New Patient')" id="defaultOpen">Add New
                            Patient</button>
                        <button class="tablinks" onclick="openTab(event,'Update Patient Info')">Update Patient
                            Info</button>
                        <button class="tablinks" onclick="openTab(event,'View Patient Info')">View Patient Info</button>
                        <button class="tablinks" onclick="openTab(event,'Search Patient Info')">Search Patient
                            Info</button>
                    </div>
                    <div class="nav-content">
                        <form action="">
                            <div id="Add New Patient" class="tabcontent">
                                <h3>Add New Patient</h3>
                                <p>Add New Patient here</p>
                            </div>
                            <div id="Update Patient Info" class="tabcontent">
                                <h3>Update Patient Info</h3>
                                <p>Update Patient Info here</p>
                            </div>
                            <div id="View Patient Info" class="tabcontent">
                                <h3>View Patient Info</h3>
                                <p>View Patient Info here</p>
                            </div>
                            <div id="Search Patient Info" class="tabcontent">
                                <h3>Search Patient Info</h3>
                                <p>Search Patient Info here</p>
                            </div>

                        </form>

                    </div>

            </section>
            <section class="save-patient">
                <button>New Patient</button>
                <button>View Previous Case</button>
                <button>Referal note</button>
                <button>Request Lab</button>
                <button>Notify Doc</button>
                <button>Send to Doctor</button>
            </section>
        </main>
        <footer>
            <!-- footer goes here-->
            footer wai
        </footer>
        <script src="scripts/opto.js"></script>
    </div>
</body>

</html>
