/* styling the body*/
body {
    margin: 0;
    border: 1px solid black;  
}

/* styling the container class*/
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

/* styling the header */
header {
    grid-column: span 3;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px ;
}

main {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border: 1px solid black;
    height: 100%;
}

.unattended {
    border: 1px solid black;
}

.attended {
    border: 1px solid black;
}

.patient-status {
    border: 1px solid black;
    
}

.patient-info {
    border: 1px solid black;
    display: grid;

}

.patient-detail {
    display: flex;
    gap: 80px;
}

.blank-detail {
    display: flex;
    gap: 300px;
}

.patient-history {
    border: 1px solid black;
    display: flex;
}

.nav-content {
    width: 100%;
    height: 100%;
}

.tabs nav {
    border: 1px solid black;
}

.forms {
    border: 1px solid black;
}

.save-patient {
    border: 1px solid black;
    display: grid;
    padding: 5px 5px;
}

footer {
    grid-column: span 3;
    border: 1px solid black;
}
