html {
    height: 96.5%;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    margin: 0;
    font-family: tahoma;
    position: relative;
    min-height: 100%;
    padding-bottom: 6.74em;
    box-sizing: inherit;
}

header{
    background: lightblue;
    margin-bottom: 10px;
    padding: 5px 0;
    text-align: center;
}
header h1{
    border: #f4f4f4 solid 1px;
    border-radius: 36px;
    padding: 6px 6px;
    display: inline-block;
    color: darkslategray;
}


nav{
  background: #F4F4F4;
  padding: 10px;
  position: sticky;
  top: 100px;
  z-index: 1;
}

nav ul{
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

nav li{
  width: 25%;
  display: inline-block;
  font-size: 14px;
}

nav li a{
  text-decoration: none;
  color: darkslategray;
}

nav li a:hover{
  text-decoration: underline;
}

footer{
    background: lightblue;
    color: darkslategray;
    padding: 0px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -21px;
    font-size: 14px;
  }

  footer p{
    display: inline-block;
    border: #f4f4f4 solid 1px;
    border-radius: 20px;
    padding: 6px 12px;
  }